page-cart {
    .nolinebreak {
        float: left;
        padding-right: 10px;
    }

    .img{
        text-align: center;
    }

    .text{
        text-align: center;
        font-size: 15px;
    }

    .information{
        text-align: right;
        font-size: 16px;
        font-weight: bold;
    }
}