<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2 class="text">{{cliente?.nome}}</h2>
  <p class="text">{{cliente?.email}}</p>

  <ion-card>
    <ion-item *ngIf=picture>
      <img [src]="picture" alt="picture">
    </ion-item>
  </ion-card>

  <ion-fab bottom>
    <button color="dark" (click)="getCameraPicture()" [disabled]="cameraOn" ion-fab mini><ion-icon name="ios-videocam-outline"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right>
    <button *ngIf=picture color="secondary" (click)="sendPicture()" ion-fab mini><ion-icon name="ios-done-all"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom edg>
    <button *ngIf=picture color="danger" (click)="cancel()" ion-fab mini><ion-icon name="ios-undo-outline"></ion-icon></button>
  </ion-fab>

</ion-content>
