<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!codpedido">Confirmação do Pedido</ion-title>
    <ion-title *ngIf="codpedido">Pedido Realizado</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!codpedido">
    <p>Para finalizar sua compra, por favor, nos confirme:</p>
    <h1>Itens do seu pedido <img  src="assets/imgs/check.png" alt="logo"></h1>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let item of cartItems">
          <ion-thumbnail item-start>
            <img [src]="item.produto.imageUrl || 'assets/imgs/prod.png'">
          </ion-thumbnail>
          <h2>{{item.produto.nome}}</h2>
          <p>{{item.produto.preco | currency:'BRL':2}}</p>
          <p class="nolinebreak">{{item.quantidade}}</p>
          <p item-end>{{item.produto.preco * item.quantidade | currency:'BRL':2}}</p>
        </ion-item>

        <ion-item>
          <h2 class="information">Total</h2>
          <h2 item-end>{{total() | currency:'BRL':2}}</h2>
        </ion-item>
      </ion-list>
    </ion-card>

    <h1>Seus dados <img  src="assets/imgs/user.png" alt="logo"></h1>
    <ion-card>
        <ion-item>
          <h2>{{cliente?.nome}}</h2>
          <p>{{cliente?.email}}</p>
        </ion-item>
    </ion-card>

    <h1>Endereço de entrega <img  src="assets/imgs/address.png" alt="logo"></h1>
    <ion-card>
      <ion-item>
        <h2>{{endereco?.logradouro}}, {{endereco?.numero}}</h2>
        <p>{{endereco?.complemento}} {{endereco?.bairro}} CEP {{endereco?.cep}}</p>
        <p>{{endereco?.cidade.nome}}, {{endereco?.cidade.estado.nome}}</p>
      </ion-item>
    </ion-card>

    <h1>Pagamento <img  src="assets/imgs/cash.png" alt="logo"></h1>
    <img *ngIf="pedido.pagamento['@type']=='pagamentoComCartao'" src="assets/imgs/card.png" alt="logo">
    <img *ngIf="pedido.pagamento['@type']=='pagamentoComBoleto'" src="assets/imgs/barcode.png" alt="logo">
    <ion-card>
      <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComCartao'">
        <h3>Pagamento com cartão</h3>
        <p>Parcelas: {{pedido.pagamento.numeroDeParcelas}}</p>
      </ion-item>
      <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComBoleto'">
        <h3>Pagamento com boleto</h3>
      </ion-item>
    </ion-card>

    <ion-fab right edge>
      <button color="secondary" (click)="checkout()" ion-fab mini><ion-icon name="md-done-all"></ion-icon></button>
     </ion-fab>
     <ion-fab left edg>
      <button color="dark" (click)="back()" ion-fab mini><ion-icon name="ios-arrow-dropleft"></ion-icon></button>
     </ion-fab>
  </div>

  <div *ngIf="codpedido">
    <img class= "displayed"  src="assets/imgs/approval.png" alt="logo">
    <h1>Seu pedido foi realizado com sucesso!</h1>
    <p class= "sucess">Acabamos de enviar um e-mail para: <strong>{{cliente?.email}}</strong> com todas as informações necessárias </p>
    <ion-card>
      <ion-item>
        <h2 class= "sucess">Código do pedido: <strong>{{codpedido}}</strong></h2>
        <p class= "sucess">30 dias para troca do produto.</p>
        <p class= "sucess">Prazo de entrega de 5 á 7 dias úteis</p>
      </ion-item>
    </ion-card>
    <p class="sucess">Nós da <strong>AC Store</strong> agradecemos a preferência</p>
    <img  src="assets/imgs/signature.png" alt="logo">
    <ion-fab right edge>
      <button color="dark" (click)="home()" ion-fab mini><ion-icon name="ios-arrow-dropleft"></ion-icon></button>
     </ion-fab>
  </div>
</ion-content>
