page-payment {
    .text{
        font-size: 15px;
        text-align: center;
    }

    .information{
        font-size: 15px;
    }

    h1{
      font-size: 20px;
      font-weight: bold;
      color: rgb(8, 171, 221);
    }

}
