page-signup {
    .danger {
        color: crimson;
        text-align: right;
    }

    .title{
        
        text-align: center;
        font-size: 15px;
    }

    .option{
        color: black;
        font-size: 13px;
    }

    
    .phrase{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

    .store{
        text-align: left;
        font-size: 15px;
        font-weight: bold;
    }

    .welcome{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}