<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="welcome">Seja Bem vindo(a)</p>
  <p class="phrase">Para prosseguirmos precisamos das seguintes informações para Cadastro: </p>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-list radio-group formControlName="tipo">
      <ion-list-header class="title">

      </ion-list-header>
      <ion-item>
        <ion-label class="option">Pessoa física</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="option">Pessoa jurídica</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label stacked>CPF ou CNPJ</ion-label>
      <ion-input formControlName="cpfOuCnpj" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cpfOuCnpj.dirty && formGroup.controls.cpfOuCnpj.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>
    <ion-label class="title"><strong>Crie informações de login</strong> <img src="assets/imgs/password.png" alt="logo"></ion-label>
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>min 8 caracteres</p>

    <ion-label class="title"><strong>Onde podemos realizar suas entregas</strong><img  src="assets/imgs/address.png" alt="logo"></ion-label>
    <ion-item>
      <ion-label stacked>Logradouro*</ion-label>
      <ion-input formControlName="logradouro" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.logradouro.dirty && formGroup.controls.logradouro.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Número*</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.numero.dirty && formGroup.controls.numero.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Complemento</ion-label>
      <ion-input formControlName="complemento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bairro</ion-label>
      <ion-input formControlName="bairro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>CEP*</ion-label>
      <ion-input formControlName="cep" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cep.dirty && formGroup.controls.cep.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Estado*</ion-label>
      <ion-select class = "option" formControlName="estadoId" (ionChange)="updateCidades()">
        <ion-option *ngFor="let estado of estados; first as f" [value]="estado.id" [selected]="f">{{estado.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cidade*</ion-label>
      <ion-select class = "option" formControlName="cidadeId">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-label class="title"><strong>Informções de contato</strong> <img src="assets/imgs/contact.png" alt="logo"></ion-label>
    <ion-item>
      <ion-label stacked>Celular*</ion-label>
      <ion-input formControlName="telefone1" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.telefone1.dirty && formGroup.controls.telefone1.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Residêncial</ion-label>
      <ion-input formControlName="telefone2" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Outro</ion-label>
      <ion-input formControlName="telefone3" type="text"></ion-input>
    </ion-item>
    <ion-fab  right edge>
      <button button color="dark" type="submit" [disabled]="formGroup.invalid" ion-fab mini><ion-icon name="ios-person-add"></ion-icon></button>
     </ion-fab>
    </form>
  <p class="store">ACStore</p>
</ion-content>
